<div class="row">
    <div class="col-md-8">
    <table class="table">
        <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Text</th>
        <th>Akcione</th>
    </tr>
    <tr *ngFor="let a of articles">
        <td>{{a.title}}</td>
        <td>{{a.category.name}}</td>
        <td>{{a.text}}</td>
        <td>
                <button class="btn btn-primary" (click)="editArticle(a)">Edit</button>
                <button class="btn btn-danger" (click)="delete(a)">Delete</button>
        </td>
    </tr>
    </table>
</div>
<div class="col-md-4" *ngIf="hasRole('ROLE_ADMIN')">
        <form class="form" (ngSubmit)="save()">
            <div class="form-group">
                Select Category:
                <select class="form-control" name="category" [compareWith]="byId" [(ngModel)]="article.category">
                    <option *ngFor="let category of categories" [ngValue]="category">{{category?.name}}</option>
                </select>
            </div>
            <div class="form-group">
                Title:<input name="title" class="form-control" [(ngModel)]="article.title">
            </div>
            <div class="form-group">
                Text:<input name="text" class="form-control" [(ngModel)]="article.text">
            </div>
            <input type="submit" value="save" class="btn btn-primary">
        </form>
    </div>
</div>