.pretraga{
    width: 100px;
    margin-top:3%;
    margin-left: auto;
    margin-right: auto;
    
}
ul{
    list-style-type: circle;
}
a {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }